<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schools</title>
</head>
<style>
    ul li {
        display:inline;
    }
    li{
        margin-right: 14px;
    }
</style>
<body>
<ul>
    <li><a href="/">Дома</a></li>
    <li><a href="/schools">Сите училишта</a></li>
</ul>
    <table>
        <thead>
        <th scope="col">School Name</th>
        </thead>
        <tbody>
            <tr th:each="school : ${schools}">

                <h2><td th:text="${school.getName()}"></td></h2>
                <h2><td><a th:href="@{/schools/{id}(id=${school.getId()})}">Прегледај училиште</a></td></h2>
            </tr>
        </tbody>
    </table>
</body>
</html>